<template>
    <div class="alert alert-dismissible fade show mb-3" role="alert"
         v-show="show"
         v-bind:class="{'alert-success' : (type === 'success'), 'alert-danger' : (type === 'error')}">

        <strong v-if="type === 'success'">🎉</strong><strong v-if="type === 'error'">☹</strong> {{ message }}
        <button type="button" class="close" aria-label="Close" @click="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
</template>

<script>
export default {
  props: ["message", "type", "show"],
  methods: {
    closeAlert() {
      var alert = this.$parent.alert;

      alert.message = "";
      alert.type = "";
    }
  }
};
</script>