<template>
    <div>
        <div class="d-flex justify-content-between mb-3">
            <h2>My Drugs</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#drugModal" @click="setCreateDrug()">
                New Drug
            </button>
        </div>

        <div class="modal fade" id="drugModal" tabindex="-1" role="dialog" aria-labelledby="drugModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" :class="{ 'modal-lg': editableDrug }" role="document">
                <div class="modal-content">
                    <div class="form needs-validation" v-bind:class="{ 'was-validated': (errors.length > 0) }">
                        <div class="modal-header">
                            <h5 class="modal-title" id="drugModal" v-if="!editableDrug">New Drug</h5>
                            <h5 class="modal-title" id="drugModal" v-if="editableDrug">Edit Drug</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body accordion">
                            <div class="form-group">
                                <label for="ggrem">GGREM</label>
                                <input v-model="drug.ggrem" type="text" class="form-control" name="ggrem" id="ggrem" placeholder="GGREM" required autofocus v-bind:class="{ 'is-invalid': errors.ggrem, 'is-valid': (!errors.ggrem && errors.nome) }">
                                <div class="invalid-feedback" v-if="errors.ggrem">
                                    {{ errors.ggrem[0] }}
                                </div>
                                <div class="valid-feedback" v-if="!errors.ggrem && errors.nome">
                                    Looks good!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nome">Name</label>
                                <input v-model="drug.nome" type="text" class="form-control" name="nome" id="nome" placeholder="Name" required autofocus v-bind:class="{ 'is-invalid': errors.nome, 'is-valid': (errors.ggrem && !errors.nome) }">
                                <div class="invalid-feedback" v-if="errors.nome">
                                    {{ errors.nome[0] }}
                                </div>
                                <div class="valid-feedback" v-if="errors.ggrem && !errors.nome">
                                    Looks good!
                                </div>
                            </div>
                            <div v-if="audits" class="form-group">
                                <h5>Auditing</h5>
                                <table class="table table-striped" v-if="list.length > 0">
                                    <thead>
                                        <tr>
                                            <th scope="col">User</th>
                                            <th scope="col">Event</th>
                                            <th scope="col">Old Value</th>
                                            <th scope="col">New Value</th>
                                            <th scope="col">Modified at</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr :item="audit"
                                            :index="index"
                                            :key="audit.id"
                                            v-for="(audit, index) in audits">

                                            <td>{{ (audit.user_id) ? audit.user.name : 'Anonymous' }}</td>
                                            <td>{{ audit.event }}</td>
                                            <td>
                                                <span :item="o" :index="o" :key="o.id" v-for="(o, oi) in audit.old_values" v-if="(audit.event === 'updated')">
                                                    <dl>
                                                        <dt class="col">Field</dt>
                                                        <dd class="col">{{ oi }}</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt class="col">Value</dt>
                                                        <dd class="col">{{ o }}</dd>
                                                    </dl>
                                                </span>
                                            </td>
                                            <td>
                                                <span :item="n" :index="n" :key="n.id" v-for="(n, ni) in audit.new_values" v-if="(audit.event === 'updated')">
                                                    <dl>
                                                        <dt class="col">Field</dt>
                                                        <dd class="col">{{ ni }}</dd>
                                                    </dl>
                                                    <dl>
                                                        <dt class="col">Value</dt>
                                                        <dd class="col">{{ n }}</dd>
                                                    </dl>
                                                </span>
                                            </td>
                                            <td>{{ audit.created_at }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" v-if="!editableDrug" @click="createDrug()">New Drug</button>
                            <button type="submit" class="btn btn-primary" v-if="editableDrug" @click="updateDrug(editableDrug)">Update Drug</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <alert-component :message="alert.message" :type="alert.type" :show="alert.message && alert.type"></alert-component>

        <div class="d-flex justify-content-end mb-3">
            <input class="form-control col-4" placeholder="Enter drug name or GGREM code" v-model="search">
        </div>

        <table class="table table-striped" v-if="list.length > 0">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">GGREM</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-bind:item="drug"
                    v-bind:index="index"
                    v-bind:key="drug.id"
                    v-for="(drug, index) in list">

                    <td>{{ drug.nome }}</td>
                    <td>{{ drug.ggrem }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteDrugModal" @click="setDeletableDrug(drug.id)">Delete</button>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#drugModal" @click="setEditableDrug(drug.id)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="deleteDrugModal" tabindex="-1" role="dialog" aria-labelledby="deleteDrugModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteDrugModal">
                            Delete Drug
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this drug?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" @click="deleteDrug(deletableDrug)" class="btn btn-danger">Yes, I'm sure!</button>
                    </div>
                </div>
            </div>
        </div>

        <pagination-component ref="pagination"></pagination-component>
    </div>
</template>

<script>
export default {
  props: ["user"],

  data() {
    return {
      alert: {
        type: "",
        message: ""
      },
      errors: [],
      list: [],
      drug: {
        ggrem: "",
        nome: ""
      },
      deletableDrug: "",
      editableDrug: "",
      search: "",
      answer: "",
      audits: null
    };
  },

  created() {
    this.fetchList();
  },

  methods: {
    fetchList(page_url) {
      page_url = page_url || "api/drugs";
      var vm = this;
      axios
        .get(page_url)
        .then(res => {
          vm.list = res.data.data;

          if (vm.list.length === 0) {
            vm.alert.message = "There are no drugs yet!";
            vm.alert.type = "error";
          }

          vm.$refs.pagination.makePagination(res.data);
        })
        .catch(err => console.error(err));
    },

    createDrug() {
      var vm = this;
      vm.errors = [];
      axios
        .post("api/drugs", this.drug)
        .then(res => {
          if (res.isValid == false) {
            vm.errors = res.errors;
          }

          vm.list.push(res.data);

          vm.drug.ggrem = "";
          vm.drug.nome = "";

          vm.alert.message = "New drug added successfully!";
          vm.alert.type = "success";

          vm.fetchList(
            vm.$refs.pagination.pagination.path +
              vm.$refs.pagination.pagination.last_page
          );

          $("#drugModal").modal("toggle");
        })
        .catch(err => {
          if ((err.response.status = 422)) {
            this.errors = err.response.data.errors;
          } else {
            console.error(err);
          }
        });
    },

    editDrug(id) {
      var vm = this;
      vm.errors = [];

      axios.get("api/drugs/" + id).then(res => {
        if (res.isValid == false) {
          vm.errors = res.errors;
        }

        vm.drug.ggrem = res.data.drug.ggrem;
        vm.drug.nome = res.data.drug.nome;
        vm.audits = res.data.audit;
      });
    },

    updateDrug(id) {
      var vm = this;
      vm.errors = [];

      axios
        .patch("api/drugs/" + id, this.drug)
        .then(res => {
          if (res.isValid == false) {
            vm.errors = res.errors;
          }

          vm.drug.ggrem = "";
          vm.drug.nome = "";

          vm.alert.message = "Drug updated successfully!";
          vm.alert.type = "success";

          vm.fetchList(vm.$refs.pagination.pagination.current_page_url);

          $("#drugModal").modal("toggle");
        })
        .catch(err => {
          if ((err.response.status = 422)) {
            this.errors = err.response.data.errors;
          } else {
            console.error(err);
          }
        });
    },

    deleteDrug(id) {
      var vm = this;
      vm.errors = [];
      axios
        .delete("api/drugs/" + id)
        .then(res => {
          vm.alert.message = "Drug deleted successfully!";
          vm.alert.type = "success";

          vm.fetchList(vm.$refs.pagination.pagination.current_page_url);

          $("#deleteDrugModal").modal("toggle");
        })
        .catch(err => console.error(err));

      vm.deletableDrug = null;
    },

    setCreateDrug() {
      this.editableDrug = null;
      this.deletableDrug = null;
      this.drug.ggrem = null;
      this.drug.nome = null;
      this.audits = null;
    },

    setDeletableDrug(id) {
      this.deletableDrug = id;
    },

    setEditableDrug(id) {
      this.editableDrug = id;

      this.editDrug(id);
    },

    getAnswer: _.debounce(function() {
      var vm = this;
      vm.answer = "Pesquisando...";
      axios
        .get("api/search?s=" + this.search)
        .then(function(res) {
          vm.list = res.data.data;
          vm.$refs.pagination.makePagination(res.data);
        })
        .catch(function(err) {
          vm.answer = "Erro! Não pode executar a API. " + err;
        });
    }, 0)
  },
  watch: {
    search: function(newSearch, oldSearch) {
      this.getAnswer();
    }
  }
};
</script>