<template>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" v-bind:class="{ 'disabled': (pagination.prev_page_url === null) }">
                <button class="page-link" tabindex="-1" @click="fetchList(pagination.prev_page_url)"
                :disabled="pagination.prev_page_url === null">Previous</button>
            </li>
            <li class="page-item"
                :item="page"
                :key="page.id"
                :class="{'active': (page === pagination.current_page)}"
                v-for="page in pagination.last_page">

                <button class="page-link" @click="fetchList(pagination.path + page)">{{ page }}</button>

            </li>
            <li class="page-item" v-bind:class="{ 'disabled': (pagination.next_page_url === null) }">
                <button class="page-link" href="#" @click="fetchList(pagination.next_page_url)"
                :disabled="pagination.next_page_url === null">Next</button>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
  data() {
      return {
          pagination: {},
      }
  },

  methods: {
      makePagination(data) {
        let paginator = {
            current_page: data.current_page,
            current_page_url: data.path + "?page=" + data.current_page,
            last_page: data.last_page,
            next_page_url: data.next_page_url,
            prev_page_url: data.prev_page_url,
            path: data.path + "?page="
        };

        this.pagination = paginator;
    },

    fetchList(data) {
        this.$parent.fetchList(data)
    }
  }
}
</script>
